<?xml version="1.0"?>
<launch>

  <arg name="odom_topic" default="odometry/filtered_map" />
  <arg name="GPS_topic" default="/navsat/fix" />
  <arg name="IMU_topic" default="/imu/data" />

  <group ns="/outdoor_waypoint_nav"> 
  <rosparam command="load" file="$(find outdoor_waypoint_nav)/params/ekf_params_jackal.yaml" />
  <rosparam command="load" file="$(find outdoor_waypoint_nav)/params/navsat_params.yaml" />
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="$(arg odom_topic)"/>
      <remap from="gps/fix" to="$(arg GPS_topic)"/>
      <remap from="imu/data" to="$(arg IMU_topic)"/>
  </node>
  </group>

</launch>
